*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /*colors*/
  --colorTexto: #556ca3;
  /*fonts*/ 
  --PT-Sans: 'PT Sans', sans-serif; 
  --Open-Sans: 'Open Sans', sans-serif; 
  --Nunito: 'Nunito', sans-serif;
}

main{
  display: flex;
  justify-content: center;
  width: 100%;
}

.section-main{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  padding-top: 100px;
  padding-bottom: 75px;
}

.titulo{
  background: linear-gradient(to right,  #15376d, #113b7b, #004194, #0047ae, #004cc7, #0050e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-bottom: 30px;
}

p{
  color: var(--colorTexto);
  font-family: var(--PT-Sans);
  font-size: 1.1em;
}