.educacion-text-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 60px 20px;
}

.educacion-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 16px;
  background-color: #f2f9ff;
  border-left: 6px solid #007bff;
  transition: transform 0.3s ease;
}

.educacion-text:hover {
  transform: scale(1.02);
}

.educacion-text .text {
  max-width: 1000px;
}

.educacion-text h2,
.educacion-text h3 {
  color: #007bff;
  margin-bottom: 10px;
  text-align: left;
}

.educacion-text p {
  line-height: 1.6;
  font-family: 'Nunito', sans-serif;
  text-align: justify;
}

/* Intercalado izquierda-derecha */
.educacion-text:nth-child(even) {
  flex-direction: row-reverse;
  border-left: none;
  border-right: 6px solid #007bff;
}

.educacion-text:nth-child(even) .text {
  text-align: right;
}

.educacion-text:nth-child(even) h2,
.educacion-text:nth-child(even) h3 {
  text-align: right;
}
