/*bienvenida section*/

.informacion-container{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bienvenida-container{
    padding-top: 50px;
    text-align: center;
    max-width: 1400px;
    margin-bottom: 50px;
}




/*mision y vision sections*/

.vision-mision-container{
    display: flex;
    align-items: center;
    padding: 50px 150px;
    margin-bottom: 75px;
}

.vision-mision-text-content{
    width: 50%;
}

.vision-mision-image-content{
    width: 50%; 
    text-align: center;
}

.vision-mision-image-content img{
    width: 60%;
    min-width: 300px;
    border-radius: 10px;
    text-align: center;
}

.imagen-ajustada {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}



/* Nuestros Pilares section*/

.pilares{
    text-align: center;
}

.pilares-container{
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
}

.pilar-item{
    width: 30%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.pilar-item-header{
    background: linear-gradient(to right, #182439, #19273f, #192a45, #1a2c4c, #1b2f52, #183360, #15376d, #113b7b, #004194, #0047ae, #004cc7, #0050e0);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

.pilar-item-header h5{
    color: white;
    margin: 0px;
}

.pilar-item-body {
    padding: 15px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    text-align: left;
}


@media (max-width: 1080px) {
 
    .vision-mision-container{
        padding: 15px;
        flex-direction: column;
    }

    .vision-mision-text-content{
        width: 100%;
        order: 1;
    }

    .vision-mision-image-content{
        width: 100%; 
        order: 2;
    }

    .vision-mision-image-content img{
        width: 90%;
    }



    .pilares-container{
        align-items: center;
        flex-direction: column;
        padding: 50px 15px;
    }

    .pilar-item{
        width: 100%;
        margin-bottom: 30px;
    }

}